node_modules
npm-debug.log*
.env
.env.*
.git
.gitignore
Dockerfile
.dockerignore
*.md
uploads/avatars/*
uploads/covers/*
uploads/chat/*
!uploads/avatars/.gitkeep
!uploads/covers/.gitkeep
!uploads/chat/.gitkeep
